    <div class="navbar bg-orange-200">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">Spondycode</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="https://spondycode.dev">Spondycode Dev</a></li>
            <li>
              <details>
                <summary>Spondicious</summary>
                <ul class="bg-base-100 rounded-t-none p-2">
                  <li><a href="https://spondicious.com">Blog</a></li>
                  <li><a>Link 2</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
